.icons--name {
  background-image: url(../images/user.svg);
}
.icons--email {
  background-image: url(../images/email.svg);
}
.icons--phone {
  background-image: url(../images/phone.svg);
}
.icons--address {
  background-image: url(../images/map-marker.svg);
}
.icons--ticket {
  background-image: url(../images/ticket.svg);
  max-width: 445px;
}
